/*QPushButton {
    color: #333;
    border: 2px solid #555;
    border-radius: 20px;
    border-style: outset;
    background: qradialgradient(
        cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4,
        radius: 1.35, stop: 0 #fff, stop: 1 #888
        );
    padding: 5px;
    }

QPushButton:hover {
    background: qradialgradient(
        cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4,
        radius: 1.35, stop: 0 #fff, stop: 1 #bbb
        );
    }

QPushButton:pressed {
    border-style: inset;
    background: qradialgradient(
        cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1,
        radius: 1.35, stop: 0 #fff, stop: 1 #ddd
        );
    }*/

QMainWindow#MainWindow
{
    background-color : black;
}

QPushButton#pushButtonAddContact
{
    background: rgba(101, 196, 102, 77);
    border-radius: 21px;
}

QLineEdit#lineEditFindContact
{
    background: #1C1C1E;
    border-radius: 21px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: #888B94;
}
